<html>
<head>
<style type='text/css' media="screen">
{% include css %}

body {
font-family: sans-serif;
}
</style>
</head>
<div class='container-fluid'>
<div class='col-sm-12 col-md-12 col-lg-12 col-xl-12'>
<p>Hi,
<br><br>Your sequencing results from the DNA Sequencing lab at UIUC are available for download.
<br>There are two ways to download the files, through command line (recommended) or through a browser.</p>
<ol>
<li>Command line: Copy the entire curl command below, including the quotation marks, and paste them on a command line. Downloading to a linux server is recommended. Files could be downloaded through a mac terminal or windows command line if there is sufficient space in the hard drive, or if downloading to an external hard drive.</li>
<li>Browser: First make sure there is sufficient space in your hard drive. To save the file to an external hard drive, first go to your browser “Preferences” and set the Downloads location to your hard drive. Then click on the link below.</li>
</ol>
<p>Below is the list of files, their size and then the links to download each of them.
<br>The links (URLs) will expire on {{ expire_date }}
<br>Total Number of Files: {{ files|length }}</p>
<hr>{% for key,item in files.items() %}
File: <span class='text-danger'>{{ item.file }}</span>&nbsp;&nbsp;&nbsp;&nbsp;{{item.size }} GB<br>
{% endfor %}
<hr>
{% for key,item in files.items() %}
<br>File: <span class='text-danger'>{{item.file }}</span>
<br>URL: <a href=' {{ item.url }}'>{{ item.url }} </a>
{% if item.md5sum %}
	<br>md5sum: {{ item.md5sum }}
{% endif %}
{% if item.sha256sum %}
        <br>sha256sum: {{ item.sha256sum }}
{% endif %}
<br>
<br>Download by command line:
<br><code class='text-danger'>curl -o {{ item.file }} -L "{{ item.url }}"</code>
<hr>
{% endfor %}
<p>For questions about this posting, you may reply to this email and must cc: aghernan@illinois.edu and clwright@illinois.edu
<br><br>Sincerely,
<br><br>The DNA Sequencing Lab, University of Illinois at Urbana-Champaign</p>
</div>
</div>
</body>
</html>
