aws:
    endpoint_url:
    region: us-east-1
    #URL expiration. Maximum 7 days for signature version s3v4, set 0 to disable
    url_expires: 7
    access_key_id: 
    secret_access_key: 
    default_bucket:
    #STANDARD,REDUCED_REDUNDANCY,STANDARD_IA,ONEZONE_IA,INTELLIGENT_TIERING,GLACIER,DEEP_ARCHIVE Default: STANDARD
    storage_class: STANDARD

email:
    #Enable emails Default: true
    enable: true
    smtp_server: 
    from: 
    cc_emails: []
    bcc_emails: [] 
    reply_to: 
    subject:
    #Send seperate emails with unique presigned url for each email address Default: false
    seperate_emails: false
